@{
    ViewData["Title"] = "隱私權政策";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <i class="fas fa-shield-alt me-2"></i>資料保護聲明
            </h5>
            <p class="card-text">
                房屋物件管理系統致力於保護您的隱私權。本隱私權政策說明我們如何收集、使用和保護您的個人資訊。
            </p>

            <h6 class="mt-4">資料收集</h6>
            <ul>
                <li>我們僅收集提供服務所必需的資訊</li>
                <li>所有房屋物件資料都經過加密儲存</li>
                <li>我們不會將您的個人資訊分享給第三方</li>
            </ul>

            <h6 class="mt-4">資料使用</h6>
            <ul>
                <li>改善服務品質</li>
                <li>提供客戶支援</li>
                <li>系統維護和安全性監控</li>
            </ul>

            <h6 class="mt-4">聯絡我們</h6>
            <p>如果您對隱私權政策有任何疑問，請聯絡我們的客服團隊。</p>
        </div>
    </div>
</div>
